@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&family=Josefin+Sans:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: #fff;
    
}

/* começo do header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background: #f6e0a4;
    border-bottom: 8px solid #f9b408;
    box-shadow: 1 5px 15px rgba(0, 0, 0, 0.5);
}

#menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 35px;
}



#menu li {
    list-style: none;
    padding: 0 40px;
    
}



#menu li a {
    text-decoration: none;
    font-size: 20px;
    color: #106667;
    transition: all 0.2s;
    font-family: 'Fira Sans', Verdana, Tahoma, sans-serif;
    
}

#menu li a:hover {
    color: #f9b408;
}

/* fim do header e começo do banner */

.banner{
    position: relative;
}

.banner img {
    width: 100%;
}

.principal {
    position: absolute;
    font-family: 'Fira Sans', Verdana, Tahoma, sans-serif;
    z-index: 1;
    right: 100px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.banner h1{
    font-size: 150px;
    color: #fff;
 
}

.banner h2{
    font-size: 75px;
    color: #fff;
}

/* fim do banner e começo das três caixas na horizontal */

.base_caixas{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    width: 1200px;
    height: 300px;
    margin: -150px auto;
}

.base_caixas .caixa{
    position: relative;
    width: calc(600px - 30px);
    height: calc(250px - 30px);
    background: #899c7e;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.base_caixas .caixa .icone{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #606644;
    transition: 0.5s;
    z-index: 1;
}

.base_caixas .caixa:hover .icone{ 
    position: relative;
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
}

.base_caixas .caixa .icone .fa-solid {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    transition: 0.5s;
    color: #f9b408;
}

.base_caixas .caixa:hover .icone .fa-solid{ 
    font-size: 40px;
}

.base_caixas .caixa .texto_caixa {
    position: absolute;
    height: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Josefin Sans', Verdana, Tahoma, sans-serif;
    font-size: 25px;
}

/* fim das três caixas na horizontal e começo da sessão do primeiro celular */

.sessao2 {
    margin-top: 10px;
    background-color: #f6e0a4;
    border-bottom: 10px solid #f9b408;
    height: 550px;
}

.sessao2 .celular1 {
    position: relative;
    margin-top: 170px;
}

.sessao2 h1 {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px 40px 20px;
    margin-right: 50px;
    font-size: 50px;
    color: #106667;
    text-align: center;
    margin-top: -850px;
    font-family: 'Fira Sans', Verdana, Tahoma, sans-serif;
    
}

.sessao2 h2 {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 25px;
    color: #606644;
    margin-right: 50px;
    font-family: 'Josefin Sans', Verdana, Tahoma, sans-serif;
    font-size: 25px;
}


/* fim da sessão do primeiro celular e começo da sessão de fotos da fazenda */

.sessao3 {
    background-image: url("../WATERBREAK/img/farm3.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;
}

.sessao3 .imagem_dupla{
    padding: 50px 50px 50px 50px;
}

/* Aqui começa a sessão com imagens do segundo celular */

.sessao4 {
    background-color: #be7667;
    height: 700px;
    margin-top: 15px;
    
}

.sessao4 .celular2 {
    float: right;
    padding-top: 30px;
    padding-bottom: 10px;
}

.sessao4 h2  {
    padding-top: 30px;
    padding-left: 60px;
    color: #fff;
    font-size: 30px;
    font-family: 'Fira Sans', Verdana, Tahoma, sans-serif;
}

.sessao4 .gratuito {
    background-color: #106667;
    padding: 30px;
    color: #f9b408;
    text-transform: uppercase;
    font-size: 50px;
    padding-left: 60px;
    font-family: 'Fira Sans', Verdana, Tahoma, sans-serif;
}

.texto_interno {
    margin-top: 50px;
    font-family: 'Josefin Sans', Verdana, Tahoma, sans-serif;
}
.sessao4 p {
    padding: 30px;
    font-size: 20px;
    color: #f6e0a4;
    padding-left: 60px;
    font-family: 'Josefin Sans', Verdana, Tahoma, sans-serif;
}

.sessao4 button{
    margin-left: 60px;
    margin-bottom: 20px;
    font-family: 'Fira Sans', Verdana, Tahoma, sans-serif;
}

button {
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    transition: 0.5s;
    color: #f9b408;
    width: 250px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s;
    cursor: pointer;
    border-radius: 10px;
    background: #106667;
    border: none;
    text-decoration: none;

}

button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-position: right center;
}

/* Aqui começa a sessão dos fazendeiros */

.sessao5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    text-align: center;
}

.sessao5 h3 {
    color: #106667;
    font-size: 30px;
    font-family: 'Fira Sans', Verdana, Tahoma, sans-serif;
}

.sessao5 p {
    color: #be7667;
    font-size: 20px;
    padding: 10px 60px 0 60px;
    font-family: 'Josefin Sans', Verdana, Tahoma, sans-serif;
}

/* Aqui começa o rodapé da página */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f6e0a4;
    border-top: 8px solid #f9b408;
    border-bottom: 10px solid #f9b408;
    padding-bottom: 20px;
    font-family: 'Josefin Sans', Verdana, Tahoma, sans-serif;
}

footer nav ul li {
    color: #106667;
    font-size: 20px;
    padding-top: 20px ;
    padding-bottom: 10px;
    cursor: pointer; 
}

footer nav ul li:hover{
    color: #f9b408;
    transition: all 0.2s;
}

footer a {
    text-decoration: none;
}

footer nav h3  {
    color: #106667;
    font-size: 20px;
    padding-bottom: 20px;
}

footer i {
    color: #106667;
    font-size: 40px;
    margin-left: 20px;
    transition: all 0.2s;
}

footer i:hover{
    color: #f9b408;
}

footer  p {
    color: #106667;
    font-size: 20px;
    padding-bottom: 10px;
}

footer img {
    margin-left: 50px;
    transition: all 0.2s;
    cursor: pointer;
}
.copyright {
    background-color: #f9b408;
    color: #106667;
    text-align: center;
    padding-bottom: 8px;
    font-family: 'Josefin Sans', Verdana, Tahoma, sans-serif;
}

/* Aqui começa página de Login */

.cadastro {
    background-color: #106667;
    height: 167px;
    margin-top: 10px;
}

.cadastro h1 {
    color: #f6e0a4;
    font-size: 50px;
    text-align: center;
    font-family: 'Fira Sans', Verdana, Tahoma, sans-serif;
    padding: 50px;
}

/* Aqui a página INSTITUCIONAL */

.container {
    text-align: center;
    
}

article h1 {
    font-family: 'Fira Sans', Verdana, Tahoma, sans-serif;
    font-size: 30px;
    padding: 20px;
}

article p {
    font-family: 'Josefin Sans', Verdana, Tahoma, sans-serif;
    font-size: 20px;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
}

.app {
    background-color: #106667;
    color: #fff;
}

.valores {
    background-color: #be7667;
    color: #fff;
}

/* Aqui a página DOCUMENTAÇÃO */

.identidade {
    text-align: center;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #be7667;
    color: #fff;
    margin-top: 10px;
}

.identidade h1 {
    font-family: 'Fira Sans', Verdana, Tahoma, sans-serif;
    font-size: 30px;
    padding: 20px;
    color: #f9b408;
}

.identidade p {
    font-family: 'Josefin Sans', Verdana, Tahoma, sans-serif;
    font-size: 20px;
}

.paleta h1 {
    font-family: 'Fira Sans', Verdana, Tahoma, sans-serif;
    font-size: 30px;
    padding: 20px;
    text-align: center;
}

.paleta p {
    font-family: 'Josefin Sans', Verdana, Tahoma, sans-serif;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 60px;
    color: #fff;
    text-align: center;

}

.cor1 {background-color: #899c7e;}
.cor2 {background-color: #606644;}
.cor3 {background-color: #2e664b;}
.cor4 {background-color: #106667;}
.cor5 {background-color: #f9b408;}
.cor6 {background-color: #be7667;}
.cor7 {background-color: #f6e0a4;}

.fontes {
    text-align: center;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 10px;
    
}

.fontes h1 {
    font-family: 'Fira Sans', Verdana, Tahoma, sans-serif;
    font-size: 30px;
    padding: 20px;
    
}

.fontes h3 {
    font-size: 20px;
    padding: 20px;
    color: #106667;
}

.fontes p {
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 60px;
}

.fira {font-family: 'Fira Sans', Verdana, Tahoma, sans-serif;}
.josefin {font-family: 'Josefin Sans', Verdana, Tahoma, sans-serif;}

.persona {
    background-color: #899c7e;
}

.persona img {
    width: 100%;
}

.persona h1 {
    text-align: center;
    font-family: 'Fira Sans', Verdana, Tahoma, sans-serif;
    font-size: 30px;
    padding: 20px;
    color: #f6e0a4;
}

.persona .bio{
    font-family: 'Josefin Sans', Verdana, Tahoma, sans-serif;
    padding: 20px;
    color: #f6e0a4;
    text-align: center;
}

.persona h3 {
    padding: 20px;
    font-size: 20px;
}

.persona h2 {
    color: #fff;
    font-weight: 600;
    padding: 20px;
    font-size: 40px;
}

.persona .aspas {
   background-color: #be7667;
   text-align: center;
   color: #fff;
   font-size: 30px;
   font-family: 'Josefin Sans', Verdana, Tahoma, sans-serif;
   padding: 50px;
}

/* Aqui a página FALE CONOSCO */

#container {
    width: 900px;
    margin: auto;
}

#container h1 {
    color: #be7667;
    font-family: 'Fira Sans', Verdana, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 40px;
    padding-left: 200px;
    padding-top: 30px;
    text-align: center;
    display: inline-block;
}

.box {
    margin: 20px;
    border: 2px solid #be7667;
}

.cores, .btn {
    background-color: #be7667;
    height: 40px;
}


.caixas {
    float: right;
    width: 150px;
    cursor: pointer;
}

.formulario {
    background-color: #f6e0a4;
    padding: 30px;
}

.formulario h2{
    font-family: 'Josefin Sans', Verdana, Tahoma, sans-serif;
    color: #be7667;
    font-size: 35px;
}

.formulario label{
    display: block;
    border-top: 1px double #10666700;
    border-bottom: 1px double #10666700;
    height: auto;
    line-height: 24px;
    
}

label span {
    width: 90px;
    text-align: right;
    margin-right: 20px;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    color: #106667;
    vertical-align: top;
}

label input[type=text], label textarea{
    border: 1px double #be7667;
    background-color: #f6e0a4;
    padding: 10px 10px;
    width: 400px;
    color: #606644;
    border-radius: 5px;
    font-size: 16px;
}

label textarea {
    width: 600px;
}

.btn{
    text-align: right;
}

.btn .botao{
    font-family: 'Fira Sans', Verdana, Tahoma, sans-serif;
    padding: 3px;
    margin: 5px;
    font-size: 15px;
    padding: 5px;
    text-align: center;
    transition: 0.5s;
    color: #f9b408;
    width: 250px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s;
    cursor: pointer;
    border-radius: 10px;
    background: #106667;
    border: none;
    text-decoration: none;
}

.btn .botao:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-position: right center;
}

.msgErro {
    border: 2px dashed #be7667;
    background-color: #be7667;
    height: 40px;
    text-align: center;
    color: #f9b408;
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    display: none;
    margin-bottom: 20px;
    border-radius: 50px;
}